* {

padding: 0;
margin: 0;
box-sizing: border-box;

}

a {

    text-decoration: none;
    color: inherit;
    
}

ul,ol,li {

    list-style: none;

}



body {

display: grid;
grid-template-rows: 60px 1fr 526px;

}
header {
    background-color: lightgreen;
}
main {

background-color: plum;

}
footer {

    background-color: tomato;

}